#Options +FollowSymLinks
#Options -Indexes
#DirectoryIndex index.php
RewriteEngine on
# if a directory o a file exist, use it directly
# RewriteCond $1 !^(index\.php|resources|images|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward to it to index.php
#RewriteRule ^(.*)$ index.php?/$1 [L,QSA] 
RewriteRule . index.php 